/* -------------- */

/* --- CALERAN -- */

/* -------------- */

/* Caleran */

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-start, .caleran-container-mobile .caleran-input .caleran-header .caleran-header-end {
  min-width: 0;
  margin: 0;
}

.caleran-container .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick, .caleran-container-mobile .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick {
  width: calc(100% / 7);
  float: left;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1px;
  background: rgb(51, 168, 232);
  cursor: not-allowed !important;
  color: #fff;
  min-height: 30px;
  border-radius: 2px;
  position: relative;
}

.caleran-container .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick span, .caleran-container-mobile .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick span {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 4px;
  top: 4px;
  bottom: 4px;
  right: 4px;
}

.caleran-apply-d, .caleran-apply {
  background: rgb(51, 168, 232) !important;
  border: 1px solid rgb(51, 168, 232) !important;
  color: #fff;
  margin-left: 7px;
}

.caleran-container-mobile .caleran-input .caleran-footer button.caleran-cancel {
  background: #fff;
  border: 1px solid rgb(51, 168, 232) !important;
  color: rgb(51, 168, 232) !important;
}

.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start:not(.caleran-hovered) span, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start:not(.caleran-hovered) span, .caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end:not(.caleran-hovered) span, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end:not(.caleran-hovered) span, .caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-selected, .caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start, .caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-selected, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end {
  background: rgb(51, 168, 232) !important;
  color: #fff;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end {
  text-align: left;
  max-width: 40vmin;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end .caleran-header-end-day {
  float: left;
  margin-right: 10px;
}

.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-weekend, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-weekend {
  color: #be142f;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end .caleran-header-end-weekday {
  margin-top: 0;
}

@media screen and (orientation: landscape) {
  .caleran-container-mobile .caleran-input .caleran-header .caleran-header-end {
    width: auto;
    min-width: 0;
  }
}

@media screen and (max-height: 480px) {
  .caleran-container-mobile .caleran-input {
    top: auto;
    bottom: 0;
  }
  .box-text {
    margin-top: 10px;
  }
}

/* ------------------ */

/* --- End Caleran -- */

/* ------------------ */
