main[role="main"] {
  padding: 40px 0;
}

body.home main[role="main"] {
  padding: 0;
}

body.single-rooms main[role="main"] {
  padding: 85px 40px;
}

body.contact {
  main[role="main"] {
    padding: 40px 0 0;
  }
}

body.home .deals {
  padding: 60px 0;
  h3 {
    margin: 0 0 30px;
    font-size: 30px;
    text-align: center;
  }
  .deals-post {
    padding: 0;
  }

  .heading-box {
    text-align: center;
  }
}

.book-trigger {
  display: block;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  color: #000;
  top: 0;
  background-color: rgba(0, 0, 0, 0.86);
  padding: 10px 15px;
  z-index: 1;
}

/* MARGIN */

.padtb-large {
  padding: 60px 0;
}

.home-slider {
  height: 70vh;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover; // }
  //   position: absolute;
  //   height: 100%;
  //   width: 100%;
  //   display: block;
  //   content: "";
  //   background: rgba(0,0,0,.3);
  // &:before {
  -o-background-size: cover;
}

@media(min-width: 768px) {
  .navbar-nav>li>a {
    line-height: 30px;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

.nav>li>a:focus, .nav>li>a:hover {
  background: transparent !important;
  color: $color-white;
}

@media(min-width: 1025px) {
  .home-slider {
    height: 100vh;
  }
}

.header-image-page {
  height: 45vh;
  background-size: cover;
  background-position: center;
  &.plain {
    height: 60px;
    #mainNav {
      top: 0;
    }
  }
}

#mainNav {
  .box-logo {
    a {
      img {
        max-height: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    .logo-alt {
      display: none;
    }
  }
  &.nav-background {
    .box-logo {
      .logo-def {
        display: none;
      }
      .logo-alt {
        display: block;
      }
    }
  }
}

/* TESTIMONIAL */

.box-home-carousel, .hotel-info-home {
  .owl-nav {
    display: none;
  }
}

.home-testimonial {
  .title-slide {
    h2 {
      margin: 20px 0;
      font-size: 16px;
    }
  }
}

.owl-dots {
  text-align: center;
  .owl-dot {
    display: inline-block;
    zoom: 1;
    span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 0.2s ease;
      border-radius: 30px;
    }
    &.active, &:hover {
      span {
        background: #869791;
      }
    }
  }
}

/* MEETING EVENT */

.inner-image {
  .image-inner {
    overflow: hidden;
    padding-bottom: 67.25%;
    position: relative;
    display: block;
    img {
      position: absolute;
      width: auto;
      height: 100%;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}

.inner-image {
  .image-inner {
    span {
      overflow: hidden;
      padding-bottom: 67.25%;
      position: relative;
      display: block;
      img {
        position: absolute;
        width: auto;
        height: 100%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }
}

#welcome-text {
  background-repeat: repeat;
  text-align: center;
  h2 {
    margin: 0 0 20px;
  }
  p {
    line-height: 24px;
  }
}

#room-section {
  background: rgba(235, 235, 235, 0.5);
  text-align: center;
  .box-bg {
    h2 {
      margin: 0 0 20px;
      text-align: center;
    }
    h4 {
      font-size: 16px;
      text-align: center;
    }
  }
}

.room-info {
  font-size: 12px;
  margin-bottom: 10px;
  padding-left: 0;
  li {
    list-style: none;
    font-size: 12px;
    font-style: inherit;
    padding: 0 0 5px;
    width: 50%;
    float: left;
  }
  &:after {
    clear: both;
    display: block;
    content: "";
  }
}

/* CONTACT PAGE*/

.info-text {
  margin-bottom: 20px;
  .info-icon {
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    float: none;
    text-align: center;
    .icon-round {
      width: 37px;
      height: 37px;
      line-height: 37px;
      border-radius: 100%;
      display: inline-block;
      text-align: center;
      color: #fff;
      i {
        font-size: 14px;
      }
    }
  }
  .info-content {
    display: inline-block;
    vertical-align: middle;
    width: 83%;
    box-sizing: border-box;
    padding-left: 10px;
    ul {
      padding-left: 0;
    }
  }
}

.wpcf7-form {
  p {
    margin-bottom: 10px;
  }
  label {
    font-weight: normal;
    width: 100%;
    input, textarea {
      width: 100%;
      border-radius: 4px;
      border: 1px solid #eaeaea;
      padding: 5px;

      &:focus {
        border: 1px solid #cec8c8;
      }
    }

    input {
      height: 40px;
    }
  }
  input[type="submit"] {
    font-size: 16px;
    font-weight: normal;
    padding: 5px 15px;
  }

  @media(max-width: 767px){
    margin-bottom: 40px!important;
  }
}

.contact-map {
  margin-top: 20px;
}

#room-section .box-room, .category-facilities, .meetings-events, .rooms-post {
  margin-bottom: 30px;
  .thumb {
    a, span {
      position: relative;
      height: 0;
      padding-bottom: 56.25%;
      display: block;
      overflow: hidden;
      img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.category-facilities, .rooms-post {
  margin-bottom: 0;
}

/* ROOM DETAIL */

.box-container {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

/* HOMEPAGE */

.home-carousel {
  border-bottom: 0 !important;
  .thumbnails {
    span {
      position: relative;
      height: 0;
      padding-bottom: 65.25%;
      display: block;
      overflow: hidden;
      img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.home-facility {
  .home-carousel {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.hotel-info-home {
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  display: block;
  background-position: center;
  overflow: hidden;
  height: 300px;
  position: relative;
  color: #fff;

  &:after {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    width: 100%;
  }

  p {
    line-height: 24px;
  }

  .home-award-title {
    h2 {
      margin: 40px 0 30px;
      position: relative;
      z-index: 1;
    }
  }

  .home-carousel {
    padding-top: 30px;
    .title-slide {
      text-align: center;
      h2 {
        font-size: 16px;
        margin-top: 0;
      }
    }
  }
}


.home-facility h2 {
  margin: 0 0 20px;
  text-align: center;
}

.title-gallery-home h2 {
  margin-top: 20px;
  font-size: 16px;
}

@media(max-width: 767px) {
  .booking-section {
    position: static;
  }
  .booking-section h2 {
    color: #fff;
    font-size: 16px;
  }
  .booking-section .box-logo {
    padding: 0;
    position: static;
  }
  .booking-section .bookid-horizontal .gridlane, .booking-section .bookid-wrapper .box-logo a {
    background: transparent;
  }
  .footer-credits a {
    display: block;
  }
}

.carousel-control span {
  display: block;
  top: 50%;
  position: absolute;
  left: 50%;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  margin: 0 auto;
}

.booking-box {
  width: 100%;
  margin: 0 auto;
  .bookid-wrapper {
    max-width: 1170px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1024px) {
  .home-slider {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 75vh;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 0.8s ease-in;
    -moz-transition: all 0.8s ease-in;
    -o-transition: all 0.8s ease-in;
    transition: all 0.8s ease-in;
    background-attachment: scroll;
  }
}

/* GALLERY */

body.gallery {
  .box-gallery {
    border: 0 !important;
  } // .gallery-view.slick-initialized.slick-slider {
  //   max-height: 540px;
  // }
  .gallery-view {
    margin-bottom: 10px;
    .slider-item {
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
    .item {
      h4 {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(227, 161, 28, 0.5);
        padding: 20px;
        color: #fff;
        @media(max-width: 767px) {
          padding: 10px;
          font-size: 14px;
        }
      }
    }
    .slick-prev {
      left: 20px;
      z-index: 1;
    }
    .slick-next {
      right: 20px;
    }
  }
  .gallery-nav {
    .item {
      padding: 0 5px;
      span {
        height: 0;
        display: block;
        position: relative;
        padding-bottom: 68.25%;
        img {
          width: 100%;
          height: 100%;
          position: absolute;
        }
      }
    }
  }
}

/* map section */

.map-section {
  @media(min-width: 1025px) {
    .contact-map {
      padding-left: 0;
    }
    .near-desc {
      padding-right: 0;
    }
  }
  .near-desc {
    ul {
      li {
        span {
          &:first-child {
            margin-right: 15px;
          }
          &:last-child {
            float: right;
          }
        }
      }
    }
  }
}

/* FOOTER */

.footer-distributed {
  a {
    color: $color-white;
    &:hover {
      color: $color-white;
    }
  }
  .footer-icons {
    a {
      &:hover {
        color: $color-white;
      }
    }
  }
}

.footer-info {
  padding: 40px 0;
  text-align: center;
  color: #fff;
  p {
    margin-bottom: 0;
  }
  .footer-logo {
    margin-bottom: 20px;
    span {
      display: block;
      margin-bottom: 10px;
    }
  }
  i {
    margin-right: 5px;
  }
}

.footer-center {
  text-align: center;
  color: #fff;
  padding-top: 30px;
  i, p {
    display: inline-block;
  }
  a {
    color: $color-white;
  }
}

.footer-credits {
  text-align: center;
  font-size: 13px;
  color: $color-white;
  padding: 10px 0;
  a {
    color: $color-white;
  }
}

/* custom header - alpha template */

// @media(min-width: 768px){
//   #menu-header-menu {
//     margin-right: 11%;
//     li {
//       a {
//         padding: 15px 10px;
//       }
//     }
//   }
// }
.book_trigger {
  position: absolute;
  top: 0;
  right: 16%;
  margin-top: 15px;
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

/* news page */

.inner-news {
  .title-room-list {
    text-align: left;
    margin: 0 0 10px;
  }
  .news-meta {
    display: block;
    margin-bottom: 10px;
  }
  .box-container {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    .thumb {
      a {
        padding-bottom: 56.25%;
        height: 0;
        display: block;
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          overflow: hidden;
          height: auto;
        }
      }
    }
    &:hover {
      // background-color: #044300;
      // color: #fff;
    }
  }
}

/* room */

.pagebox {
  .box-container {
    .room-info-list {
      h2 {
        margin: 10px 0;
      }
      .book-room {
        padding: 5px 15px;
        font-size: 12px;
        margin: 0 auto;
        display: block;
      }
    }
  }
}

/* popup gmaps */

.popup-gmaps {
  position: fixed;
  bottom: 120px;
  right: 20px;
  span {
    width: 48px;
    height: 48px;
    display: block;
    text-align: center;
    border-radius: 100%;
    i {
      font-size: 18px;
      line-height: 48px;
    }
  }
}
