
/* 1. First Alternative */
.hdfooter {
  ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin-bottom: 0;

    li {
      display: inline-block;
      padding: 5px 10px;
    }
  }
}

.hdfooterbox {
  h5 {
    margin-top: 0px;
  }
}
.hdfooterbox__socmed {
  ul {
    text-align: left;

    li {
      padding: 0;

      a {
        color: #000;
        text-align: center;
        opacity: 1;
        border: 1px solid #000;
        line-height: 32px;
        display: block;
        font-size: 10px;
        width: 38px;
        height: 38px;
        padding: 6px;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        border-radius: 10%;
      }
    }
  }
}

.hdfooterlink {}
.hdfooterlink__beta {
  ul {
    text-align: left;

    li {
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

/* 2. Second Alternative */
.hdfooter__beta {

}
